html{
	font-family: tahoma, arial, \5b8b\4f53, sans-serif;
	font-size: 12px;
  	-webkit-text-size-adjust: 100%;
  	-ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  color: #333333;
  background-color: #ffffff;
  line-height: 1.5;
}
a {
  color: #0088cc;
  text-decoration: none;
}
.monthpicker{
	text-align: center;
}
.monthpicker a{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	color: #fff;
	border: 1px solid transparent;
}
.monthpicker a:hover{
	background-color: #ffeb89;
	border:1px solid #fed22f;
	color:#eb8f00;
	font-weight: bold;
	text-align: center;
}
.picker-model td,.monthpicker td{
	cursor: pointer;
}
.picker-model{
	font-size: 12px;
	border-collapse: separate;
	border-spacing: 5px;
}
.monthpicker-component{
	width: 200px;
	border: 1px solid #e78f08;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	background-color: #f7ae37;
	padding: 4px;
}
.monthpicker-preyear,.monthpicker-nextmonth,.monthpicker-premonth,.monthpicker-nextyear{
	width: 20px;
}
.monthpicker-time{
	width: 100px;
}
.picker-div{
	background-color: #f6f6f6;
	width: 200px;
	border: 1px solid #dddddd;
	border-radius: 4px;
	padding: 4px;
}
.monthpicker-button-hover{
	background-color: #ffeb89;
	border:1px solid #fed22f;
	color:#eb8f00;
	font-weight: bold;
	text-align: center;
}
table{
	display: inline;
}
.year-go,.year-back{
	display: inline-block;
	*display: inline;   
	*zoom: 1;
	width: 20px;
	text-align: center;
	padding: 2px;
}
.picker-button{
	text-align: center;
	border: 1px solid transparent;
	border-radius: 10px;
}
.picker-button a:hover{
	background-color: #ffeb89;
}
.sure,.cancel{
	border:1px solid transparent;
	color: #fff;
	background-color: #428bca;
	border-radius: 5px;
	width: 40px;
	padding: 3px;
	display: inline-block;  
	*display: inline;   
	*zoom: 1;
	text-align: center;
}
.sure:hover,.cancel:hover{
	border:1px solid transparent;
	color: #fff;
	background-color: #357ebd;
	border-radius: 5px;
	width: 40px;
	padding: 3px;
	display: inline-block;  
	*display: inline;   
	*zoom: 1;
	text-align: center;
}
[class$="-cell"]{
	border: 1px solid #cccccc;
	background-color: #fbfbfb;
	font-weight:bold;
	text-align: center;
	padding: 5px;
}
.monthpicker-selected{
	background-color: #ffeb89;
	border:1px solid #fed22f;
	font-weight: bold;
	text-align: center;
	padding: 5px;
}
.monthpicker-selected-hide{
	border: 1px solid #cccccc;
	background-color: #fbfbfb;
	font-weight: bold;
	text-align: center;
	padding: 5px;
}
.year-cell{
	color: #1c94c4;
}
.mon-cell{
	color: #468847;
}
.btn-sure-cancel{
	padding: 5px;
}
.cancel{
	float: right;
}
::selection{
	background-color: transparent;
}
::-moz-selection{
	background-color: transparent;
}
